<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    {% load thumbnail %}
    {% load render_bundle from webpack_loader %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Arun Ravindran">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block navbar %}
      <header class="header bg-white-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
        <nav class="f6 fw6 tracked">
          <a class="logo link dim black dib mr3" href="/" title="">GardenHui</a>
        </nav>
        <nav class="f6 fw6 ttu tracked tr">
          {% if user.is_authenticated %}
            <a class="link dim black dib mr3" href="/users/me">Profile</a>
          {% else %}
            <a class="link dim black dib mr3" href="#" title="">Login</a>
            <a class="link dim black dib mr3" href="#" title="">Register</a>
          {% endif %}
        </nav>
      </header>
    {% endblock navbar %}

    <main>
      {% block container %}
        <div class="container">
          <div class="starter-template">
            <h1>New Project</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
          </div>
        </div><!-- /.container -->
      {% endblock container %}
    </main>

    <!-- Site footer -->
    {% block footer %}
      <!-- Some social button for contact will do -->
        <footer class="bg-black-90">
          <div class="container">
            <div class="w-50 fl">
              <p class='white'>&copy; Company {% now 'Y' %}</p>
            </div>
            <div class="w-50 fl tr">
              <p>
                <span class="silver mr2">Connect with us on</span>
                <a class="link white" href="#">Facebook</a> or
                <a class="link white" href="#">Twitter</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% render_bundle 'main' %}
  </body>
</html>
