{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}
  <div class="row home-hero">
    <div class="container">
      <div class="col-12">
        <h1 class="home-title">GardenHui</h1>
      </div>
  </div>
</div>

<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container ph6">
  <div class="row">

    <div class="w-50 pa4 pl0 fl">
      <h2>Our Mission</h2>
      <p>GardenHui’s mission is to connect people who want to be growers with
         people who can help them, either in the form of garden space or
         mentoring.
       </p>
    </div>

    <div class="w-50 pa4 fl">
      <h2>Our goal</h2>
      <p>By creating new connections and intergenerational ties, we will enable
         our urban spaces and neighborhoods to be gardened more intensively,
         we will have a stronger community, and we'll develop the growing
         experience and skills in our young people that we will need to someday
        eliminate our dependence on imported food.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}{% endblock scripts %}
